{% extends 'ecommerce/main.html' %}
{% load static %}

{% block title%}Sign up{% endblock title%}

{% block style%}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'ecommerce/auth_form.css' %}"/>
{% endblock style%}

{% block content%}

<div class="d-flex justify-content-center h-100 user-cart-container">
	<div class="user_card">
		<div class="d-flex justify-content-center">
			<h3 id="form-title">CREATE ACCOUNT</h3>
		</div>
		<div class="d-flex justify-content-center form_container">
			<form method="POST" action="">
				{% csrf_token %}
				<div class="input-group mb-2">
					<div class="input-group-append">
						<span class="input-group-text"><i class="fas fa-user"></i></span>
					</div>
					{{user_form.first_name}}
				</div>
				<div class="input-group mb-2">
					<div class="input-group-append">
						<span class="input-group-text"><i class="fas fa-user"></i></span>
					</div>
					{{user_form.last_name}}
				</div>
				<div class="input-group mb-2">
					<div class="input-group-append">
						<span class="input-group-text"><i class="fas fa-user"></i></span>
					</div>
					{{user_form.username}}
				</div>
				<div class="input-group mb-2">
					<div class="input-group-append">
						<span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
					</div>
					{{user_form.email}}
				</div>
				<div class="input-group mb-2">
					<div class="input-group-append">
						<span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
					</div>
					{{customer_form.cellphone_no}}
				</div>
				<div class="input-group mb-2">
					<div class="input-group-append">
						<span class="input-group-text"><i class="fas fa-key"></i></span>
					</div>
					{{user_form.password1}}
				</div>
				<div class="input-group mb-2">
					<div class="input-group-append">
						<span class="input-group-text"><i class="fas fa-key"></i></span>
					</div>
					{{user_form.password2}}
				</div>

				<div class="d-flex justify-content-center mt-3 login_container">
					<button type="submit" class="btn btn-warning">Sign up</button>
				</div>
			</form>
		</div>
		
		{% for field in user_form %}
			{% if field.errors %}
				{% for error in field.errors %}
					<p class="messages">{{ error }}</p>
				{% endfor %}
			{% endif %}
		{% endfor %}
		
		{% for field in customer_form %}
			{% if field.errors %}
				{% for error in field.errors %}
					<p class="messages">{{ error }}</p>
				{% endfor %}
			{% endif %}
		{% endfor %}

	</div>
</div>


{% endblock content%}
		
{% block javascript%}
<script type="text/javascript" src="{% static 'ecommerce/js/signup.js' %}"></script>
{% endblock javascript%}
