{% extends 'ecommerce/main.html' %}
{% load static %}

{% block title%}Wishlist{% endblock title%}

{% block content %}
<h1>Wishlist</h1>
	{% if activity_logs %}
	<br>
	<div class="cart-row">
            <div style="flex:2"></div>
			<div style="flex:2"><strong>Item</strong></div>
			<div style="flex:2"><strong>Price</strong></div>
			<div style="flex:2"><strong>Date added</strong></div>
			<div style="flex:1"><strong>Add to cart</strong></div>
			<div style="flex:1"><strong>Remove from wishlist</strong></div>
			
		</div>
		{% for log in activity_logs %}
		<div class="cart-row">
			<div style="flex:2"><img class="row-image" src="{{log.product.imageURL}}"></div>
			<div style="flex:2"><p>{{log.product.name}}</p></div>
			<div style="flex:2"><p>${{log.product.price|floatformat:2}}</p></div>
			<div style="flex:2"><p>{{log.event_date}}</p></div>
			<div style="flex:1"><a class="btn btn-success remove-from-wishlist-btn">+</a></div>
			<div style="flex:1"><a class="btn btn-danger remove-from-wishlist-btn">x</a></div>
		
		</div>
		{% endfor %}
	</div>
	{% endif %}
{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="{% static 'ecommerce/js/cart.js' %}"></script>
<script type="text/javascript" src="{% static 'ecommerce/js/delete.js' %}"></script>
{% endblock javascript %}
